@font-face {
  font-family: "Uneexal";
  src: url("../fonts/UNEEXAL.ttf");
}
@font-face {
  font-family: "Josefin Sans Bold";
  src: url("../fonts/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: "Josefin Sans Light";
  src: url("../fonts/JosefinSans-Light.ttf");
}
@font-face {
  font-family: "Josefin Sans Thin";
  src: url("../fonts/JosefinSans-Thin.ttf");
}
@font-face {
  font-family: "Josefin Sans Medium";
  src: url("../fonts/JosefinSans-Medium.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.otf");
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: "FuturisExtra Bold";
  src: url("../fonts/FuturisExtra-Bold.ttf");
}
@font-face {
  font-family: "Helvetica Black";
  src: url("../fonts/HELVETICANOWDISPLAY-EXTBLK.TTF");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  height: 100%;
  overflow: hidden;
  background: #0f0f0f;
}

img {
  display: block;
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hor-line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.4;
  -webkit-backface-visibility: hidden;
}

.vert-line {
  width: 1px;
  height: 100%;
  background-color: #fff;
  opacity: 0.4;
  -webkit-backface-visibility: hidden;
}

.bot-line {
  position: absolute;
  left: 0;
  bottom: 0;
}

.top-line {
  position: absolute;
  left: 0;
  top: 0;
}

.right-line {
  position: absolute;
  top: 0;
  right: 0;
}

.left-line {
  position: absolute;
  top: 0;
  left: 0;
}